@model List<Hotel.WebApp.Models.Reservacion.ReservacionDTO>

<table class="table" id="tableData">
    <thead>
        <tr>
            <td class="text-bold">Id</td>
            <td class="text-bold">Cliente</td>
            <td class="text-bold">Habitación</td>
            <td class="text-bold">Fecha Inicio</td>
            <td class="text-bold">Fecha Fin</td>
            <td class="text-bold">Acciones</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var reservacion in Model)
            {
                <tr>
                    <td>@reservacion.Id</td>
                    <td>@reservacion.TcNombre</td>
                    <td>@reservacion.TcNombreHabitacion</td>
                    <td>@reservacion.TfFecInicio.ToShortDateString()</td>
                    <td>@reservacion.TfFecFin.ToShortDateString()</td>
                    <td>

                        <a asp-controller="Reservacion"
                           asp-action="Editar"
                           asp-route-id="@reservacion.Id"
                           class="btn btn-sm btn-success text-center">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                        <a asp-controller="Reservacion"
                           asp-action="Eliminar"
                           asp-route-id="@reservacion.Id"
                           id="btnDelete"
                           class="btn btn-sm btn-danger text-center">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center"><span class="text-danger">No hay registros disponibles.</span></td>
            </tr>
        }
    </tbody>
</table>